.status-list, 
.overflow-y-scroll-carusel{
    scrollbar-width: none;
}
.status-list::-webkit-scrollbar,
.overflow-y-scroll-carusel::-webkit-scrollbar {
    display: none;
}
.carusel-heighter{
    height: calc(100vh - 100px);
}